@page
@model BrunoCampiol.Website.Pages.Identity.IndexModel

<h1>Sign In / Sign Out</h1>

<br />

@if (Model.IsAuthenticated)
{
    <h2>
        @Model.Name
    </h2>
    <h2>
        @Model.Provider
    </h2>
    <a class="btn btn-primary" asp-page="/Identity/SignOut">Sign Out</a>
}
else
{
    <script>
        if (location.protocol != 'https:') {
            //if (location.hostname.toLowerCase().indexOf('brunocampiol.com') >= 0)
            if (location.hostname.toLowerCase() != 'localhost') {
                location.href = 'https://brunocampiol.com/Identity';
            }
        }
    </script>

    <div class="alert alert-primary" role="alert">
        <strong>Hey!</strong>
        Please login with your credentials to post out comments here.
        We will not have access to your account.
    </div>

    <br />

    <a class="btn btn-primary" asp-page="/Identity/SignIn" asp-route-provider="GitHub">Git Hub <i class="fab fa-github-square"></i></a>
    <a class="btn btn-primary" asp-page="/Identity/SignIn" asp-route-provider="Twitter">Twitter <i class="fab fa-twitter-square"></i></a>
    <a class="btn btn-primary" asp-page="/Identity/SignIn" asp-route-provider="Facebook">Facebook <i class="fab fa-facebook-square"></i></a>
} 