@page "{provider?}"

@model BrunoCampiol.Website.Pages.Identity.IndexModel
@{

}

<h1>Login Page</h1>

<a class="btn btn-primary" asp-page="/Identity/Index" asp-route-provider="GitHub">Git Hub</a>

<br />

<a asp-page="../Identity/Profile">Check my profile</a>