@page
@model BrunoCampiol.Website.Pages.Identity.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h1>My Profile</h1>

@if (Model.IsAuthenticated)
{
    <h2>
        @Model.Name
    </h2>
    <h2>
        @Model.Provider
    </h2>
    <a class="btn btn-primary" asp-page="/Identity/SignOut">Sign Out</a>
}

