@page

<h1 class="responsive-title text-center">H Bridge</h1>

<p>
    According to wikipedia, an H bridge is an electronic circuit that enables
    a voltage to be applied across a load in either direction. Here I tried to
    simulate a H bridge with a 5V dc motor
</p>

<h1>Required Items</h1>

<ul>
    <li>
        2 Transistors BC558 NPN
    </li>
    <li>
        2 Transistors BC548 PNP
    </li>
    <li>
        4 Resistors 470 Ohms
    </li>
    <li>
        4 Diodes
    </li>
    <li>
        1 DC motor (5V or less)
    </li>
</ul>

<h1>Let's do it</h1>

<p>
    I had some problems when I tried to build it for the first time.
    In addition, this project have some problems. I am sorry about that :(
</p>

<br />

<p>
    This is the project schematic. Use it to guide yourself.
</p>

<br />

<img src="~/images/esquema.jpg" alt="" class="img-fluid d-block mx-auto" />

<br />
<br />
<p>
    If you put the schematic in practice (good practice) you
    can (have to) get (better than) this:
</p>
<br />
<img src="~/images/pontehesquematico.jpg" alt="" class="img-fluid d-block mx-auto" />
<br />