@page

<h1 class="responsive-title text-center">
    Some projects that I have done
</h1>

<br />

<p class="text-center">You can check out more projects at my Github <i class="fab fa-github"></i> profile: <a href="https://github.com/brunocampiol">https://github.com/brunocampiol</a></p>

<br />
<br />

<div class="row equal">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 justify-content-around project-column">
        <div class="bg-light p-4 align-items-stretch project-cell">
            <h5>Counter Visitors <i class="fas fa-history"></i></h5>
            <hr />
            <a class="btn btn-secondary btn-block" asp-page="/Projects/Visitors">Check it out</a>
            <br />
            <p>
                See the visitors of my website! :)
            </p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 justify-content-around project-column">
        <div class="bg-light p-4 align-items-stretch project-cell">
            <h5>Box 2D Javascript <i class="fas fa-gamepad"></i></h5>
            <hr />
            <a class="btn btn-secondary btn-block" asp-page="/Projects/Box2D">Check it out</a>
            <br />
            <p>Play practically anywhere using javascript</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 justify-content-around project-column">
        <div class="bg-light p-4 align-items-stretch project-cell">
            <h5>Pi Calcuator <i class="fas fa-calculator"></i></h5>
            <hr />
            <a class="btn btn-secondary btn-block" asp-page="/Projects/PiCalc">Check it out</a>
            <br />
            <p>Javascript Pi calculator</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 justify-content-around project-column">
        <div class="bg-light p-4 align-items-stretch project-cell">
            <h5>Space Wars Game <i class="fas fa-gamepad"></i></h5>
            <hr />
            <a class="btn btn-secondary btn-block" asp-page="/Projects/SpaceWars">Check it out</a>
            <br />
            <p>Simple spaceship gun game made in Unity</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 justify-content-around project-column">
        <div class="bg-light p-4 align-items-stretch project-cell">
            <h5>CC Power Supply <i class="fas fa-microchip"></i></h5>
            <hr />
            <a class="btn btn-secondary btn-block" asp-page="/Projects/CCPowerSupply">Check it out</a>
            <br />
            <p>Know how to create a CC power supply from a desktop power supply</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 justify-content-around project-column">
        <div class="bg-light p-4 align-items-stretch project-cell">
            <h5 class="card-title">H Bridge <i class="fas fa-microchip"></i></h5>
            <hr />
            <a class="btn btn-secondary btn-block" asp-page="/Projects/HBridge">Check it out</a>
            <br />
            <p class="card-text">Step by step how to invert the current in cc circuits</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 justify-content-around project-column">
        <div class="bg-light p-4 align-items-stretch project-cell">
            <h5>Web Wi-Fi Hack <i class="fas fa-wifi"></i></h5>
            <hr />
            <a class="btn btn-secondary btn-block" asp-page="/Projects/WifiHack">Check it out</a>
            <br />
            <p>Attention: This content may be illigal in your country, and should only be used for testing propose on your own network</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 justify-content-around project-column">
        <div class="bg-light p-4 align-items-stretch project-cell">
            <h5 class="card-title">Flashlight - Deprecated <i class="fab fa-android"></i></h5>
            <hr />
            <a class="btn btn-secondary btn-block" asp-page="/Projects/FlashApp">Check it out</a>
            <br />
            <p class="card-text">Tiny Flashlight open source no ADS! It was developed long time ago when Android didn't come with build-in flashlight</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 justify-content-around project-column">
        <div class="bg-light p-4 align-items-stretch project-cell">
            <h5 class="card-title">Windows Server - Deprecated <i class="fas fa-server"></i></h5>
            <hr />
            <a class="btn btn-secondary btn-block" asp-page="/Projects/OwnServer">Check it out</a>
            <br />
            <p class="card-text">See how I created my old website server at home with no cost. Now it is moved to Azure</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 justify-content-around project-column">
        <div class="bg-light p-4 align-items-stretch project-cell">
            <h5 class="card-title">Berry 2 Home - Deprecated <i class="fas fa-code"></i></h5>
            <hr />
            <a class="btn btn-secondary btn-block" asp-page="/Projects/OwnServer">Check it out</a>
            <br />
            <p class="card-text">Step by step how to invert the current in cc circuits</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 justify-content-around project-column">
        <div class="bg-light p-4 align-items-stretch project-cell">
            <h5 class="card-title">Zeus Monitor - Deprecated <i class="fas fa-code"></i></h5>
            <hr />
            <a class="btn btn-secondary btn-block" asp-page="/Projects/OwnServer">Check it out</a>
            <br />
            <p class="card-text">
                A new way of lookin into prices. More info will be available soon...zeusweb.tk
            </p>
        </div>
    </div>
</div>