@page

<h1 class="responsive-title text-center">
    A little bit about me
</h1>
<h1 class="responsive-subtitle text-center">
    Interested in working together? Let's have a talk <a href="https://www.linkedin.com/in/bruno-paes-a9629651/"><i class="fab fa-linkedin" style="color:#0e76a8;"></i></a>
</h1>

<br />
<br />

<div class="row">
    <div class="col-md-6 order-md-2 pb-3">
        <img src="~/images/BrunoDell.jpg" alt="Me" class="img-fluid" />
    </div>
    <div class="col-md-6 order-md-1 align-self-center">
        <h1 class="responsive-subtitle text-center">
            Work experience <i class="fas fa-briefcase"></i>
        </h1>
        <br />
        <ul class="list-group mb-4">
            <li class="list-group-item">Monitor of Programming Laboratory I CE - PUCRS</li>
            <li class="list-group-item">Internship at Public Defender of Rio Grande do Sul</li>
            <li class="list-group-item">TI programmer at Safeweb</li>
            <li class="list-group-item">Research in Concordia University</li>
            <li class="list-group-item">Software Engineer 2 in Dell</li>
        </ul>
    </div>
</div>

<br />
<br />

<h1 class="responsive-subtitle text-center">
    Programming skills <i class="fas fa-box-open"></i>
</h1>
<br />
<div class="row">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item font-weight-bold">Advanced</li>
            <li class="list-group-item">C# .Net and .Net Core</li>
            <li class="list-group-item">MVC</li>
            <li class="list-group-item">Web API</li>
            <li class="list-group-item">Scrum</li>
            <li class="list-group-item font-weight-bold">Intermediate</li>
            <li class="list-group-item">SQL (Micrsoft)</li>
            <li class="list-group-item">No-SQL DB (Mongo / Redis)</li>
        </ul>
    </div>
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">PCF (Pivotal Cloud Foundation)</li>
            <li class="list-group-item">Javascript</li>
            <li class="list-group-item">Jquery</li>
            <li class="list-group-item">Bootstrap</li>
            <li class="list-group-item font-weight-bold">Novice</li>
            <li class="list-group-item">C++ / C</li>
            <li class="list-group-item">Java</li>
            <li class="list-group-item">Adnroid</li>
        </ul>
    </div>
</div>
<br />
<br />

<h1 class="responsive-subtitle text-center">
    Spoken languages <i class="fas fa-language"></i>
</h1>
<br />
<div class="row">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">Portuguese - first language</li>
            <li class="list-group-item">English - advanced</li>
        </ul>
    </div>
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">Spanish - intermediate</li>
            <li class="list-group-item">French - basic</li>
        </ul>
    </div>
</div>

<br />
<br />

<h1 class="responsive-subtitle text-center">
    More pictures <i class="fas fa-images"></i>
</h1>
<div class="row">
    <div class="col">
        <img src="~/images/bruno_paes_instagram1.jpg" class="img-fluid" alt="Me" />
    </div>
    <div class="col">
        <img src="~/images/bruno_paes_instagram3.jpg" class="img-fluid" alt="Me" />
    </div>
    <div class="col">
        <img src="~/images/bruno_paes_instagram2.jpg" class="img-fluid" alt="Me" />
    </div>
</div>

<br />