@page

<h1 class="responsive-title text-center">
    Downloads
</h1>

<br />

<p class="text-center">Latest files available for download</p>

<br />
<br />

<div class="media">
    <div class="align-self-center mr-3 text-center">
        <img src="~/images/gitcommands.gif" alt="Generic placeholder image" class="img-responsive mb-2" style="max-width:50px;">
        <br />
        <a class="btn btn-sm btn-light" href="~/downloads/VisualStudio.GitCommands.vsix">
            Download
        </a>
    </div>
    <div class="media-body">
        <h5 class="mt-0">Visual Studio Git Commands Extension</h5>
        Execute git commands inside your visual studio. No command prompt
        <br />
        <a href="https://marketplace.visualstudio.com/items?itemName=BrunoPaes.GitCommandHelper">
            https://marketplace.visualstudio.com/items?itemName=BrunoPaes.GitCommandHelper
        </a>
    </div>
</div>

<br />

<div class="media">
    <div class="align-self-center mr-3 text-center">
        <img src="~/images/winsleep.png" alt="Generic placeholder image" class="img-responsive mb-2" style="max-width:50px;">
        <br />
        <a class="btn btn-sm btn-light" href="~/downloads/WinSleep99.exe">
            Download
        </a>
    </div>
    <div class="media-body">
        <h5 class="mt-0">Programable Shutdown</h5>
        Ever wanted to put your PC to shutdown after a specific amount of time?
    </div>
</div>

<br />

