@page

<h1 class="responsive-title text-center">
    Simple way to have DC at home
</h1>

<p>
    For me, this is the easiest way to have a DC at home. Some of these power supplies already have some
    type of over voltage and current control. You have just to attach some things and you're ready to go.
    Warning: I am not responsable about you, so do it only if you feel like you can do it.
</p>

<p class="responsive-subtitle">
    Required Items
</p>

<ul>
    <li>
        1 Black Borne
    </li>
    <li>
        5 Red Borne (you can use more colors if you want to)
    </li>
    <li>
        1 Switch
    </li>
    <li>
        1 Resistor 460 Ohms
    </li>
    <li>
        1 LED (use the brighter ones if you can)
    </li>
    <li>
        Some kind of drilling machine
    </li>
    <li>
        Hot glue and glue
    </li>
    <li>
        Soldering iron
    </li>
</ul>

<p>
    Find those items, they can be found at your local electronics department
</p>

<p class="responsive-subtitle">
    Let's roll oll
</p>

<p>
    With the items in hand, the first thing to do it's to check your power supply and find the main cables that pass power to the mainboard.
    We will use them to make all the connections we need. The image below shows the voltage in a ATX power supply.
    Tip: Be careful with the bornes to do not get in touch with the metalic surface or it will be fatal.
</p>

<img alt="pin layout" class="img-fluid d-block mx-auto" src="~/images/20-pin.gif" />

<p>
    Basically, you will need these wires for this project. You can cut all the excessive wires to get better air flow.
</p>

<ul>
    <li>
        3 Dark Wires (GND)
    </li>
    <li>
        1 Green Wire (POWER)
    </li>
    <li>
        2 Red Wires (+ 5V)
    </li>
    <li>
        1 Yellow Wire (+ 12V)
    </li>
    <li>
        1 Orange Wire (+ 3,3V)
    </li>
    <li>
        1 White Wire (- 5V)
    </li>
    <li>
        1 Blue Wire (- 12V)
    </li>
</ul>

<img alt="pin layout" class="img-fluid d-block mx-auto" src="~/images/fonte5.jpg" />

<p>
    To do the power button, get the green (PS_ON) wire and fuse it in the switch like the image below:
</p>

<img alt="pin layout" class="img-fluid d-block mx-auto" src="~/images/fonte6.jpg" />

<p>
    Close it and you have your own DC power supply.
</p>

<img alt="pin layout" class="img-fluid d-block mx-auto" src="~/images/fonte4.jpg" />